  .heading
  {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    float:none;
    padding:10px;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    white-space: pre-line;
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
 .copy_right_footer{
   position:fixed;
   color:white;
   bottom:0;
   width:100%;
   background-color:rgb(204, 32, 32);
   line-height:3;
   text-align:  center;
  font-size: 18px;
 }
 canvas{
   margin-top: 150px;
 }